* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    height: 100vh;
    width: 100vw;
    background-color: lightgrey;
}

.container {
    width: 40vw;
    height: 90vh;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.oggetto {
    position: relative;
    width: 94%;
    height: 30%;
    border-style: solid;
    border-width: thin;
    border-color: black;
    border-radius: 1px;
    background-size: cover;
    margin: 2vh;
}

.uno {
    background-image: url("../img/caserta.jpg");
}

.due {
    background-image: url("../img/amsterdam.jpeg");
}

.tre {
    background-image: url("../img/tibet.jpg");
}

.testo {
    font-family: 'Alata', sans-serif;
    font-size: 40px;
    color: white;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.overlay {
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.overlay:hover {
    display: none;
}
